body {
    color: #000;
    background-color: #FCFCFC;
    word-wrap: break-word;
    font-family: Verdana, Arial, Sans-Serif;
    overflow-x: hidden;
    margin: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1220px;
    margin: 0 auto;
    width: 1220px;
    padding-right: 20px;
    padding-left: 20px;
}

.promo__button{
    color: white;
    background-color: #4D66EC;
    padding: 20px 34px 20px 34px;
}

.button--secondary{
    display: flex;
    justify-content: center;
    background-color: #FCFCFC;
    border: 1px solid #4D66EC;
    padding: 13px 30px 13px 30px;
    width: 30%;
}

.button--primary{
    display: flex;
    justify-content: center;
    color: white;
    background-color: #4D66EC;
    padding: 13px 25px 13px 25px;
    width: 30%;
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.head__title{
    font-size: 34px;
    margin: 0;
}

.head__link{
    border-bottom: 1px solid #4D66EC;
    padding-top: 20px;
}